/* body {
    width: 100vw;
    height: 100vh;
} */

header {
    display: flex;
    width: 100%;
    height: 100px;
    margin: 0;
    margin-top: 20px;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;
}


 .logo {
    width: 220px;
    margin-left: 50px;
}
  
.nav-bar {
    width: 55%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-right: 300px;
    font-size: 13px;
}

.a-tag {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.hamburger-icon {
    height: 20px;
    width: 20px;
    margin-right: 30px;
    background-color: transparent;
    color: navy;

}

.pages {
    width: 100vw;
    height: 100vh;
    display: flex;   
    background-size: cover;
    background-position: center;
}

.pages-right {
    width: 100vw;
    height: 100vh;
    display: flex;   
    background-size: cover;
    background-position: center;
}

.text {
    font-size: 13px;
    text-align: left;
}

.main-page-content {
    height: 200px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin-bottom: 100px;
}

.right-main-page-content {
    height: 200px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 850px;
    margin-top: 480px;
    /* bottom: 0; */
}

.right-main-page-content2 {
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 850px;
    margin-top: 380px;
    align-items: center;
    /* bottom: 0; */
}

h1 {
    font-size: 45px;
    margin-bottom: 50px;
}

h3 {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: left;
}

button {
    height: 140px;
    width: 185px;
    background-color: transparent;
    color: white;
    outline: white;
    outline-style: solid;    
    border: none;
    margin-left: 0;

}


.page-1 {
    background-image: url('https://www.spacex.com/static/images/backgrounds/starlinkstreak_desktop.webp');
    flex-direction: column;
    justify-content: space-between;
}

.right-side-h1 {
    font-size: 45px;
    margin-bottom: 50px;

}
.page-2 {
    height: 100vh;
    width: 100vw;
    background-image: url('https://cdn.discordapp.com/attachments/727541480243331142/732359443928580146/gps3_launch_desktop_02.jpg');
    flex-direction: column;
    justify-content: space-between;
}

.page-3 {
    background-image: url('https://cdn.discordapp.com/attachments/727541480243331142/732359453621485609/home_demo2.jpg');
    flex-direction: column;
    justify-content: space-between;
}


.page-4 {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between;
    background color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: center;
}

.left-page-4 {
    height: 500px;
    width; 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    margin-bottom: 100px;
}

.page-4-img {
    height: 100vh;
    width: 60vw;
    right: 0;
    display: flex;
}

.page-5 {
    background-image: url('https://cdn.discordapp.com/attachments/727541480243331142/732359453847978074/home_moon.jpg');
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    display: flex;   
    background-size: cover;
    background-position: center;
    align-items: center;
}

.footer {
    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;

}

.not-bolded {
    font-size: 12px;
    font-weight: lighter;
    color: gray;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-text {
    display: flex;
    width: 50%;
    height: 100px;
    background-color: black;
    margin: 0;
    justify-content: space-between;
    text-align: center;
    font-size: 12px;
    align-items: center;
}